@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Playfair+Display:ital@1&family=Rubik:wght@700&display=swap');

hr{
  border: none;
  height:5px;
  width:90%;
  align-self: center;;
  background:#880e4f;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2, .thankyou{
  /*box*/
  padding: 10px;
  text-align: center;
  font-size: 60px;
  font-family:'Open Sans', sans-serif;
  color:#880e4f;
  text-decoration: underline;
}

.thankyou{
  font-size: 40px;
}

#instructions, #last{
  text-align: center;
  font-size: 18px;
  /* font-family: 'Playfair Display', serif; */
}

.login_form{
  background-color: #ad1457;
  padding:30px;
  margin:20px;
  padding-bottom: 50px;
}

h3{
  margin-left: 20px;
  font-size: 22px;
  font-family: 'Krona One', sans-serif;
   font-family: 'Playfair Display', serif;
   font-family: 'Rubik', sans-serif;
   color:white;
   text-decoration: underline;
}

label{
  color:#e0f2f1;
  margin-left:20px;
  font-size: 20px;
}

input{
  font-size: 15px;
  height:30px;
  /* border:none; */
  box-sizing:border-box;
  border-style: solid;
  border-color: none;
}

input[type="submit"],input[type="reset"]{
  height:40px;
  margin-left:20px;
  width:100px;
  /* border:none; */
  border-width:thick;
  border-color:#e1f5fe;
  background-color:#f06292;
  color:black;
}

.label-text{
  display: inline-block;
}

.t1{
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

#login_error_message{
  font-weight:bold;
  font-size: 22px;
  margin-left: 20px;
}

span{
  color:#b71c1c;
  font-weight:bold;
}

.b{
  color:#004d40;
}

.login_read_and_type_the_passage1, .login_read_and_type_the_passage2{
  padding:30px;
  margin:20px;
  padding-bottom: 50px;
  float:left;
  width:93.4%;
}
 .login_read_and_type_the_passage1{
   background-color:#e91e63;
 }
 .login_read_and_type_the_passage1 h3{
   color:white;
 }
 .login_read_and_type_the_passage2{
   background-color:#f06292;
 }
 .login_read_and_type_the_passage2 h3{
   color:white;
 }

.login_passage1,.login_passage2, #login_test-area1, #login_test-area2{
color:black;
text-align:center;
font-size: 20px;
border-style: solid;
border-width: thick;
border-color: #004d40;
background-color: white;
width:540px;
float:left;
}

#login_test-area1, #login_test-area2{
  margin-left: 20px;
}

.login_test-area1, .login_test-area2{
margin-left: 80px;
text-align: left;
}

#login_clock1, #login_clock2{
  font-size: 80px;
  margin:40px 0;
}
/* .login_original_text2,.login_test-area1, .login_test-area2 */
/* .login_timings1 {
  width: 200px;
  float: left;
  margin-left: 300px;
  border-style: solid;
  border-color: black;
} */


/*
#login_start1, #login_stop1, #login_reset1{
font-size: 35px;
height:60px;
width: 290px;
margin:15px;
border-style: solid;
border-radius: 4px;
border-width: thick;
border-color:#004d40;
}

  /* #login_clock1, #login_clock2{
    font-size: 80px;
    margin:40px 240px;
  } */

#login_reset1, #login_reset2{
  font-size: 35px;
  height:60px;
  width: 290px;
  border-style: solid;
  border-radius: 4px;
  border-width: thick;
  border-color:#004d40;
  margin-left: 330px;
  }
